.mainContent {
  display: grid;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.gameWrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(4, 200px);

  height: fit-content;
  border-radius: 8px;
  z-index: 20;
  opacity: 1;
}

.newGameButton {
  align-items: center;
  background-color: greenyellow;
  margin-left: 40px;
  border: solid 1px;
  width: 60px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
}

.newGameButton:hover {
  opacity: 0.7;
}

.musicButton {
  position: absolute;
  font-family: "Lotr";
  height: 30px;
  border-radius: 8px;
  border: none;
  background-color: rgb(226, 235, 215);
  font-weight: 600;
  cursor: pointer;
  left: 25px;
  top: 25px;
  padding: 8px;
}

.musicButton:hover {
  opacity: 0.9;
}

#progressBarWrapper {
  width: 400px;
  height: 30px;
  position: absolute;
  top: 60px;
  border-radius: 8px;
  background-color: gainsboro;
  border: solid 1px;
}

#progressBarStatus {
  background-color: green;
  border-radius: 8px;
}
.gameBackground {
  position: absolute;
  top: 0;
  width: 100%;
}
