.cardWrapper {
  position: relative;
  height: 180px;
  width: 180px;
  border-radius: 8px;
  line-height: 180px;
  text-align: center;
}

.cardWrapper:hover {
  cursor: pointer;
}

.heroImg {
  position: absolute;
  width: 20px;
  height: 20px;
}

.cardTitle {
  color: rgb(236, 226, 184);
}
